h1 {
    font-size: 40px;
    font-weight: 600;
    line-height: 1.1;
    @media (min-width: 992px) {
        font-size: 56px;
        line-height: 1.10714286;
    }
}
h2 {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.16;
    @media (min-width: 992px) {
        font-size: 32px;
    }
}