.index {
  .select2-dropdown {
    background-color: #233142 !important;
    border: 1px solid #ffffff !important;
    border-radius: 0 !important;
  }
  .select2-search {
    display: none !important;
  }
  .select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: #00deff !important;
  }
}